.fixed {
    position: fixed;
	margin: 0 auto;
    left: 0px;
	top: 0px; 
	width: 100%;
	height: 50px;
	background-color: #C4CD14;
	text-align: center;
	line-height: 50px;
	font-size: 21px;
	color: white;
	border-bottom: 1px solid #7f850b;
}

.text {
    width: 600px;
    margin: 70px auto 60px auto;
    border: 1px solid #C4CD14;
    padding: 20px 20px 20px 20px;
}